In [10]:
print(3 + 5)

8

In [12]:
# 행단위
print(3 + 5)
print(10 * 6)

8
60

In [13]:
print(3 + 5); print(10 * 6); print(10 /3)

8
60
3.3333333333333335

In [15]:
i = 10 
if i > 20:
    print(3 + 5)
print("끝")

끝

In [3]:
# 파이썬 기본 자료형
# 리터널 : 자연어 : 숫자 : 정수  : 10, 2 ,6
#                          실수 : 10.5, 25.5
#                  문자 : 한국어 , 영어 , 일어, ...
print(3 + 5)
i = 3   # 정수리터널 변수
j = 5
f = 10.5 # 실수리터널 변수
print(i + j)
print(i + f)
i = 15.5 # 실수리터널 변수
print(i + f)

8
8
13.5
26.0

In [6]:
# 숫자연산자 
print( i + j)
print( i - j)
print( i * j)
print( i / j)
print( 10 % 3) # %: 나머지 연산자
a  = 10 // 3
print(a)
a = 10 ** 2
print(a)
a = 10 ** 3
print(a)

# 숫자 연산자 : +, - , *, / , %, //, **

20.5
10.5
77.5
3.1
1
3
100
1000

In [12]:
# 문자 리터널 : "김", "이", '박' , '이숭무', 'apple', 'hello' : 김찬중 , "김찬중"
i = 10 # 10:정수리터널 , i : 정수리터널 변수
a  = i
# 변수 = 리터널 : 변수에 리터널을 대입한다.
print(a)
이숭무 = 100
print(이숭무)
str1  = "이숭무" # "이숭무" :문자리터널 , str1 : 문자리터널 변수
print(str1)
i = 10
f = 10.5
str1 = '이숭무'
print(str1)

10
100
이숭무
이숭무

In [15]:
i = 10 # 정수리터널
str1 = "10" #  문자리터널
print( 10 + 10 )
#print( 10 + "10" )

20

In [19]:
# 문자리터널 연산자
print( 10 + 10)
print("10" + "10") # 연결 연산자
print("이숭무" * 3) # 반복 연산자
print("===" * 30)
print("파이썬 문자 연산자 공부")
print("===" * 30)

20
1010
이숭무이숭무이숭무
==========================================================================================
파이썬 문자 연산자 공부
==========================================================================================

In [30]:
str1 = "Life is too short, You need python"
print(str1)
str1 = "Life's too short, You need python"
print(str1)
str1 = 'Life is too short, "You need python"'
print(str1) 
str1 = 'Life\'s too short, "You need python"'
print(str1)
str1 = "Life's too short, \"You need python\""
print(str1)

str1 = "\tLife's too short, \nYou need python"
print(str1)

Life is too short, You need python
Life's too short, You need python
Life is too short, "You need python"
Life's too short, "You need python"
Life's too short, "You need python"
	Life's too short,
You need python

In [31]:
str1 = """Life's too short, 
You need python"""
print(str1)

Life's too short,
You need python

In [32]:
str1 = '''Life's too short, 
You need python'''
print(str1)

Life's too short,
You need python

In [36]:
str1 = "Life is too short, You need python"
print(str1)
print(len(str1))
print(len("Life is too short, You need python"))

Life is too short, You need python
34
34

In [46]:
# indexing
str1 = "Life is too short, You need python" # 34
#                 1         2         3
#       0123456789012345678901234567890123 # index : 문자에 매겨지는 고유의 번호 : 0부터 시작해서 1씩 증가하는 값
#           3         2         1
#      -4321098765432109876543210987654321 - # index
a = "이숭무" 
#    0 1 2
print(str1[1])
print(a[1])
print(str1[4])
print(str1[33])
print(str1[len(str1) -1])
print("Life is too short, You need python"[4])
print(str1[33])
print(str1[-1])
print(str1[0])
print(str1[-34])
print(str1[-len(str1)])
print(str1[0])
print(str1[-0])

i
숭

n
n

n
n
L
L
L
L
L

In [53]:
str1 = "Life is too short"
#                 1
#       01234567890123456
print(str1)
# Life
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0] + str1[1] + str1[2] + str1[3])
# slicing
print(str1[0 : 0 + 4]) #0부터 4글자
print(str1[0 : 3])
print(str1[0 : 4]) # 0부터 4전까지 : start = 0 , stop = 4
print(str1[8 : 11])
print(str1[8 : 8 + 3])
# index가 3번부터 5글자를 출력
idx = 3
cnt = 5
print(str1[idx : idx + cnt])

Life is too short
L
i
f
e
Life
Life
Lif
Life
too
too
e is

In [60]:
str1 = "Life is too short"
#                 1
#       01234567890123456
#              1
#      -76543210987654321
print(str1[8: 11])
print(str1[8: 8 + 3])
print(str1[-9: 11])
print(str1[8: -6])
print(str1[-9: -6])
print(str1[-9 : -9 + 3])

too
too
too
too
too
too

In [73]:
a = "20010331Rainy"
##### 날짜(년월일)와 이름을 분리하여 출력
print(a[0:0+8])
print(a[8:8+5])
print(a[:0+8]) # 0은 생략이 가능하다.
print(a[8:]) #  index가 마지막 번호인 경우 생략 가능
print(str1)
print(str1[5:])
print(str1[:5])
print(str1[:])
# 년 , 월 , 일
print(a[0:0+8])
print(a[:4])
print(a[4:4+2])
print(a[6:6+2])

20010331
Rainy
20010331
Rainy
Life is too short
is too short
Life
Life is too short
20010331
2001
03
31

In [80]:
print(str1)
print(str1[::2])
print(str1[::-1])
# 2번부터 13번까지 하나 건너서 출력
print(str1[2:14:2])
print(str1[2:14:-1]) # (x)
print(str1[13:1:-1]) # 13부터 2번까지

Life is too short
Lf stosot
trohs oot si efiL
f stos

hs oot si ef

In [88]:
a = "Pithon"
#    012345
print(a[1])
j = 10
print(j)
j = 20
print(j)
print(a[1])
# a[1] = 'y' 문자열에 있는 문자는 변경할 수 없다.
print(a[0] + 'y' + a[2:])

i
10
20
i
Python

In [92]:
# 문자열 포매팅이란?
print("현재 온도는 18도입니다.")
print("현재 온도는 20도입니다.")
print("현재 온도는 15도입니다.")

현재 온도는 18도입니다.
현재 온도는 20도입니다.
현재 온도는 15도입니다.

In [102]:
a = 20
print("현재 온도는 %d도입니다." % a)
b = 3
print('I eat %d apples.' % b)

print('I eat %s apples.' % 'five')
## %s : string, %d : decimal, %f : float , %c : character : 포맷문자열
print('I eat %f apples.' % 0.5)

현재 온도는 20도입니다.
I eat 3 apples.
I eat five apples.
I eat 0.500000 apples.

In [105]:
'나의 이름은 이숭무이고 나이는 20살입니다.'
name = '이숭무'
age  = 30
print('나의 이름은 %s이고 나이는 %d살입니다.' % (name, age))
print('I eat %f apples.' % (0.5))

나의 이름은 이숭무이고 나이는 30살입니다.
I eat 0.500000 apples.

In [107]:
'이숭무의 계좌번호는 1111이고 잔액은 100입니다.'
name = '이숭무'
account = '1111'
money = 100
print('%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money))
result = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money)
print(result)

이숭무의 계좌번호는 1111이고 잔액은 100입니다.
이숭무의 계좌번호는 1111이고 잔액은 100입니다.

In [122]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
name = '이숭무'
age = 20
height = 172.5
result = "%s의 나이는 %d살이고 키는 %f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %5.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %4.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %4.10f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)
print(result)
result = "%s의 나이는 %s살이고 키는 %s입니다" % (name, age, height)
print(result)
#result = "우리반의 취업률은 %s%입니다." % 98 # 오류 발생
result = "우리반의 취업률은 %s%%입니다." % 98
print(result)

이숭무의 나이는 20살이고 키는 172.500000입니다
이숭무의 나이는 20살이고 키는 172.5입니다
이숭무의 나이는 20살이고 키는 172.5입니다
이숭무의 나이는 20살이고 키는 172.5000000000입니다
이숭무의 나이는 20살이고 키는 172.5입니다
이숭무의 나이는 20살이고 키는 172.5입니다
우리반의 취업률은 98%입니다.

In [125]:
#정렬과 공백 : -는 왼쪽정렬 , +는 오른쪽 정렬
result = "%10s의 나이는 %10d살이고 키는 %10.1f입니다" % (name, age, height)
print(result)
result = "%-10s의 나이는 %-10d살이고 키는 %-10.1f입니다" % (name, age, height)
print(result)

       이숭무의 나이는         20살이고 키는      172.5입니다
이숭무       의 나이는 20        살이고 키는 172.5     입니다

In [142]:
#format 함수를 사용한 포매팅
# 변수: , age, height
# 함수 :  len() ,print(), format()
name = '이숭무'
age = 30
height = 175.5
result = "%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)
print(result)
print("{0}의 나이는 {1}살이고 키는 {2}입니다".format(name, age, height))
#                                                  0     1     2
'이숭무의 나이는 20살이고 이숭무의 키는 173.5입니다'
print('%s의 나이는 %d살이고 %s의 키는 %f입니다' % (name, age, name, height))
print('{0}의 나이는 {1}살이고 {0}의 키는 {2}입니다'.format(name, age, height))
print('{1}의 나이는 {0}살이고 {1}의 키는 {2}입니다'.format(age, name, height))
print('{1}의 나이는 {0}살이고 {1}의 키는 {2}입니다'.format(age, name, 175.5))
#print('{1}의 나이는 {0}살이고 {1}의 키는 {2}입니다'.format(age, name, h = 175.5))
print('{1}의 나이는 {0}살이고 {1}의 키는 {h}입니다'.format(age, name, h = 175.5))
print('{1}의 나이는 {0}살이고 {1}의 키는 {h}입니다'.format(age, name, h = height))
#print('{n}의 나이는 {0}살이고 {n}의 키는 {2}입니다'.format(age, n = name, 175.5)) # 중간에 이름을 부여해주면 오류발생
#                                                         0    
print('{n}의 나이는 {0}살이고 {n}의 키는 {h}입니다'.format(age, n = name, h = 175.5)) # 이름은 뒤에서부터 앞으로
# print('{1}의 나이는 {0}살이고 {1}의 키는 {h}입니다'.format(a = age, name, h = height)) 중간에 건너띄어도 오류

SyntaxError: positional argument follows keyword argument (105341483.py, line 22)

In [159]:
#format함수를 이용한 정렬
'이숭무의 나이는 20살이고 키는 173.5입니다'
name = '이숭무'
age = 30
height = 175.5
print('%s의 나이는 %d살이고 키는 %.1f입니다' % (name, age, height))
print('%10s의 나이는 %10d살이고 키는 %10.1f입니다' % (name, age, height))
print('%-10s의 나이는 %-10d살이고 키는 %-10.1f입니다' % (name, age, height))
print('{0}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height))
print('{0:10}의 나이는 {1:10}살이고 키는 {2:10}입니다'.format(name, age, height))
print('{0:<10}의 나이는 {1:<10}살이고 키는 {2:<10}입니다'.format(name, age, height))
print('{0:>10}의 나이는 {1:>10}살이고 키는 {2:>10}입니다'.format(name, age, height))
print('{0:^10}의 나이는 {1:^10}살이고 키는 {2:^10}입니다'.format(name, age, height))
print('{0:-^10}의 나이는 {1:!^10}살이고 키는 {2:*^10}입니다'.format(name, age, height))
print('{0:-^10}의 나이는 {1:!^10}살이고 키는 {2:*^10.2f}입니다'.format(name, age, height))
# { 이숭무 }의 나이는         30살이고 키는      173.5입니다
print('{{이숭무}}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height))
print('{{0}}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height)) # {{}}는 문자취급, index가 올 수 없다.

이숭무의 나이는 30살이고 키는 175.5입니다
       이숭무의 나이는         30살이고 키는      175.5입니다
이숭무       의 나이는 30        살이고 키는 175.5     입니다
이숭무의 나이는 30살이고 키는 175.5입니다
이숭무       의 나이는         30살이고 키는      175.5입니다
이숭무       의 나이는 30        살이고 키는 175.5     입니다
       이숭무의 나이는         30살이고 키는      175.5입니다
   이숭무    의 나이는     30    살이고 키는   175.5   입니다
---이숭무----의 나이는 !!!!30!!!!살이고 키는 **175.5***입니다
---이숭무----의 나이는 !!!!30!!!!살이고 키는 **175.50**입니다
{이숭무}의 나이는 30살이고 키는 175.5입니다
{0}의 나이는 30살이고 키는 175.5입니다

In [168]:
#f 문자열 포매팅
name = '이숭무'
age = 30
height = 175.5
print('%s의 나이는 %d살이고 키는 %.1f입니다' % (name, age, height))
print('{0}의 나이는 {1}살이고 키는 {2}입니다'.format(name, age, height))
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다')
print(f'{name:10}의 나이는 {age:10}살이고 키는 {height:10}입니다')
print(f'{name:<10}의 나이는 {age:>10}살이고 키는 {height:^10}입니다')
print(f'{name:!<10}의 나이는 {age:*>10}살이고 키는 {height:-^10}입니다')
# 9 * 3 = 27
dan = 9
print(f" 9 * 3 = {9 * 3}")
print(f" {dan} * 3 = {dan * 3}")

이숭무의 나이는 30살이고 키는 175.5입니다
이숭무의 나이는 30살이고 키는 175.5입니다
이숭무의 나이는 30살이고 키는 175.5입니다
이숭무       의 나이는         30살이고 키는      175.5입니다
이숭무       의 나이는         30살이고 키는   175.5   입니다
이숭무!!!!!!!의 나이는 ********30살이고 키는 --175.5---입니다
 9 * 3 = 27
 9 * 3 = 27

In [179]:
# 문자열 관련 함수들 :  문자열 가공
a = "hobby"
print(a)
# 문자열의 길이
print(len(a))
print(len("hobby"))
# 특정문자의 갯수
print(a.count('b'))
print("hobby".count('b'))
str2 = "Life is too short"
print(str2.count('o'))

hobby
5
5
2
2
3

In [187]:
str2 = "Life is too short"
#                 1
#       01234567890123456
#too 출력하세요
print(str2[8: 8 +3])
print(str1.index('too'))
print(str2[str1.index('too'): str1.index('too') + 3])
idx = str1.index('too')
print(str2[idx: idx +3])
idx = str1.index('t')
print(idx)
idx = str1.index('i')
print(idx)
idx = str1.index('i', 2) # index2번부터
print(idx)
idx = str1.index('i', str1.index('i') + 1) # index2번부터
print(idx)
idx = str1.index('t', 9) # index9번부터
print(idx)
idx = str1.index('t', str1.index('t') + 1) # index9번부터
print(idx)

too
8
too
too
8
1
5

In [194]:
str1 = 'Lite is too short, You need python'
print(str1.count('t'))
# 세번째 t에서 4글자출력
idx = str1.index('t', str1.index('t', str1.index('t') + 1) + 1)
print(idx)
print(str1[idx:idx + 4])
idx = str1.rindex('t')
print(idx)
print(str1[idx:idx+4])

4
16
t, Y
30
thon

In [198]:
str1 = 'Lite is too short, You need python'
idx = str1.index('too')
print(str1[idx:idx+3])
idx = str1.find('too')
print(idx)
idx = str1.find('t', str1.find('t', str1.find('t') + 1) + 1)
print(idx)
idx = str1.rfind('t')
print(idx)
print(str1[idx:idx+4])

too
8
16
30
thon

In [200]:
print(str1.find('zoo')) # 찾는 단어나 문자가 없으면 -1
print(str1.index('zoo')) # 찾는 단어가 없거나 문자가 없으면 오류 발생

-1

ValueError: substring not found

In [206]:
print(str1)
# 문자열을 모두 소문자로 출력
print(str1.lower())
# 문자열을 모두 대문자로 출력
print(str1.upper())
print(str1)
str2 = str1.upper()
print(str2)

Lite is too short, You need python
lite is too short, you need python
LITE IS TOO SHORT, YOU NEED PYTHON
Lite is too short, You need python
LITE IS TOO SHORT, YOU NEED PYTHON

In [208]:
if "highland0" == "     highland0    ":
    print("같다")
else:
    print("다르다")
if "highland0" == "     highland0    ".strip():
    print("같다")
else:
    print("다르다")

다르다
같다

In [220]:
str2 = "    highalnd0     "
print(str2.strip())
str3 = "   Life is too short    ";
print(str3)
print(str3.strip()) # 양옆의 공백만 지웁니다. 중간에 있는 공백문자는 정상 데이터로 인식
# 왼쪽만 지우기
print(str3.lstrip())
#오른 쪽만 
print(str3.rstrip())
str3 = "abLife is too shortab";
print(str3.strip("ab"))
str3 = "abLife is ab too shortab";
print(str3.strip("ab"))
str3 = "ab  Life is too short   ab";
print(str3.strip('ab').strip())
str3 = "abcd  Life is too short   cdab";
print(str3.strip('ab').strip('cd').strip())

highalnd0
   Life is too short
Life is too short
Life is too short
   Life is too short
Life is too short
Life is ab too short
Life is too short
Life is too short

In [221]:
### # 문자열 대체하기
str1 = "Life is too short"
str2 = str1.replace("Life" , "Your leg");
print(str2)

Your leg is too short

In [223]:
# 쪼개기 : split 하면 결과 리스트
str1 = "Life is too short"
str2 = str1.split()
print(str2)
str1 = "Life:is:too:short"
str2 = str1.split(":")
print(str2)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']