In [9]:
# 기본자료형 : 리터널 :  변수에 값을 저장하면 한개의 값만 저장이 된다. 
#                       자연수 : 숫자 : 정수 : 10, 5 
#                                       실수 :10.5, 5.2
#                       자연어 : 영어, 중국, 프랑스어 , 한국어, .... : 문자열 : "이숭무", 'apple', hello:변수
# 파이썬의 자료형 : 리스트 : 여러개의 값을 저장할 수 있다.
이숭무 = 'hello'
print(이숭무)
apple = "이숭무"

i = 10
print(i)
i = 20 # 변수는 하나의 값만 가진다. 
print(i) 
str1 = "Life is too short"
print(str1)
str1 = "이숭무"
print(str1)
f = 10.5
print(f)
f= 5.2
print(f)

hello
10
20
Life is too short
이숭무
10.5
5.2

In [14]:
i = 10    # 정수형리터널 변수
f = 10.5 # 실수형리커널 변수
str2 = "hello" # 문자리터널 변수
l = [] #리스트 # 리스트형 변수
l = [1,2,3,4,5] 
str1 = "Life is too short"
result = str1.split()
print(result)
print(i)
print(f)
print(str2)

['Life', 'is', 'too', 'short']
10
10.5
hello

In [15]:
# 리스트자료형 형식
l = [] # 빈리스트
l = [1,2,3,4,5] # 정수형 리스트
l = ['이숭무', 'apple', 'yellow'] # 문자열형 리스트
l = [10, '이숭무', 10.5] # 혼합형 리스트
l = [10, '이숭무', 10.5, [1,2,3]] # 리스트를 포함한 혼합형 리스트
l = [[1,2,3,4] , [5,6,7,8]] # 리스트를 포함한 리스트

In [25]:
l = [1,2,3,4,5]
print(l)
print(result) # ['Life', 'is', 'too', 'short'] : split의 결과는 리스트
str1 = "Life is too short"
#                 1
#       01234567890123456 :  index
#              1
#      -76543210987654321  : -index
print(str1[2]) # f ... indexing
print(str1[-15])
l = [1, 2, 3, 4, 5]
#    0  1  2  3  4 : index
#   -5  4  3  2  1 : -index
print(l)
# indexing
print(l[2]) # indexing
print(l[-3])
l1 = ["이숭무", "이상범", "이장범"] 
#        0         1        2
#       -3         2        1
print(l1[1])
print(l1[-2])

[1, 2, 3, 4, 5]
['Life', 'is', 'too', 'short']
f
f
[1, 2, 3, 4, 5]
3
3
이상범
이상범

In [42]:
l=[1 , 2 , 'Life' , 'is', [3,4,5] , 'too' , [1] , 0.5 , 'short', "30"]
#  0   1      2       3      4        5      6     7       8       9
# indexing의 결과 값은? # 요소의 자료형으로 출력이 된다.
print(l[0]) # 정수
print(l[1])# 정수
print(l[2]) # 문자
print(l[3]) # 문자
print(l[4]) # 리스트
print(l[6]) # 리스트
print(l[7]) # 실수
print(l[9]) # 문자
print( 10 + 20) # 정수 + 정수
print( l[0] + l[1] )
print( "Python " + "is fun") # 문자 + 문자
print( l[2] +l[3]) # 문자 + 문자
# print( 10 + "30") # 문자 + 정수는 연산할 수 없다
print( str(10) + "30") # str() : 숫자를 문자로 변환 : 문자 + 문자
# print(l[0] + l[9] ) # 정수 + 문자는 연산할 수 없다.
print(l[0] + int(l[9]) ) # int() : 문자인 숫자를 숫자로 변환 : 정수 + 정수
print("python" * 3) # 반복연산자 :  문자 * 정수 
print(l[8] * l[1]) # 문자 * 정수 : 반복연산

1
2
Life
is
[3, 4, 5]
[1]
0.5
30
30
3
Python is fun
Lifeis
1030
31
pythonpythonpython
shortshort

In [47]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#               0    1     2
#   -4  3  2         1
#              -3    2     1
b = a[3]
print(b) # ['a', 'b', 'c']
#            0    1    2
print(a[3][1]) # ['a', 'b', 'c']
#               0    1    2
print(a[-1][-2])
print(a[3][-2])
print(a[-1][1])

['a', 'b', 'c']
b
b
b
b

In [53]:
a = [1, 2, 3, ['a', 'b', ['life', 'is']]]
#    0  1  2           3
#              0     1          2
#                           0      1
print(a[3]) # ['a', 'b', ['life', 'is']]
#               0    1         2
print(a[3][2]) # ['life', 'is']
#                   0       1
print(a[3][2][0]) # 'life'
#                    0123
print(a[3][2][0][1])

['a', 'b', ['life', 'is']]
['life', 'is']
life
i

In [71]:
#리스트의 슬라이싱
str1 ='Life is too short'
#                1
#      01234567890123456
print(str1[0]) # indexing
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0]+str1[1]+str1[2]+str1[3])
print(str1[0:4]) # slicing
print(str1[2:2+2]) # 두글자
print(str1[2:2+0]) # 출력결과 없음
print(str1[2:2+1]) # 한글자
l = [1, 2, 3, 4]
#    0  1  2  3
print(l[0])
print(l[1])
print(l[0:2]) # slicing
print(l[1:1+2])
print(l[1:1]) # [] :빈리스트
print(l[1:1+1]) # slicing : 결과가 리스트 : [2]
print(l[1]) # indexing  : 2
print(l[1] + l[2]) # 정수 + 정수 =  2 + 3 = 5
print(l[2:2+1]) # slicing : 결과가 리스트 : [3]
print(l[1:1+1] + l[2:2+1] ) # [2] +  [3] = 리스트 + 리스트 = 리스트 : [2, 3] : 연결연산자 : +
print(l[1:1+1] * l[2]) # 리스트 * 정수 = 리스트 : [2, 2, 2] : 반복연산자 : *
# print(l[1] + l[2:2+1] ) # 정수 + 리스트 
# print(l[1] + int(l[2:2+1]) ) # 리스트는 정수로 변환 하지 못함
# print(list(l[1]) + l[2:2+1] ) # list()리스트로 변환하는 변환 함수 : 정수를 리스트로 변환 할 수 없음.

L
i
f
e
Life
Life
fe

f
1
2
[1, 2]
[2, 3]
[]
[2]
2
5
[3]
[2, 3]
[2, 2, 2]

In [88]:
result = ['Life', 'is', 'too', 'short']
#            0      1     2       3
print(result)
print(result[0]) # "Life"
print(result[1])
print(result[0:0+1]) # ['Life']
print(result[0]+result[1]) # 문자열 + 문자열 = 문자열
#print(result[0:0+1] + result[1] ) # 리스트 + 문자열 
print(str(result[0:0+1]) + result[1] ) # "['Life']" + is : 문자열형 리스트를 문자열로 변환 : 문자열 + 문자열 = 문자열
print(result[0:0+1] + list(result[1]) ) # ['Life', 'i'] + ['is'] : 리스트 + 리스트 = 리스트 : 문자열을 리스트로 변환

# 변환함수 : int(), str(), list()

['Life', 'is', 'too', 'short']
Life
is
['Life']
Lifeis
['Life']is
['Life', 'i', 's']

In [105]:
str1 = "Life is too short"
result = ['Life', 'is', 'too', 'short']
print(str1[0:0+2]) 
print(result[0:0+2])
print(str1[:2])
print(result[:0+2])
print(str1[5:])
print(result[1:])
print(str1[:]) # print(str1)
print(result[:]) # print(result)
print(str1[::2]) 
print(result[::2])
print(str1[::-1])
print(result[::-1])
print(str1[2:14])
print(str1[13:1:-1])
print(result[1:4])
print(result[3:0:-1])

Li
['Life', 'is']
Li
['Life', 'is']
is too short
['is', 'too', 'short']
Life is too short
['Life', 'is', 'too', 'short']
Lf stosot
['Life', 'too']
trohs oot si efiL
['short', 'too', 'is', 'Life']
fe is too sh
hs oot si ef
['is', 'too', 'short']
['short', 'too', 'is']

In [124]:
str1 = 'Lyfe is too short'
print(str1[1])
# str1[1] ='i' : 문자열은 변경할 수 없다
str1 = str1.replace("Lyfe", "Life")
print(str1)
l3 = ['Lyfe', 'is', 'too', 'short']
print(l3)
print(l3[0])
l3[0] = 'Life' # 리스트는 index를 이용해서 요소의 값을 변경할 수 있다.
print(l3)
print(l3[2])
l3[2] = 100
print(l3)
print(len(str1)) # 문자열의 크기 # 17
print(len(l3)) # 리스트의 크기 : 4
# print(len(1234))

y
Life is too short
['Lyfe', 'is', 'too', 'short']
Lyfe
['Life', 'is', 'too', 'short']
too
['Life', 'is', 100, 'short']
17
4

In [135]:
# 리스트 함수
# 리스트에 요소 추가 
#append()
l1 = ['Life','is']
# 'too'추가
print(l1 + ['too'])
print(l1)
l1.append('too')
print(l1)
l1.append('short')
print(l1)
l1.append(3)
print(l1)
l1 = ['Life', 'short']
#       0        1
# 원하는 위치에 요소 삽입하기 : insert
l1.insert(1,'is') #index 1번에 is 넣기
print(l1) # ['Life', 'is', 'short']
l1.insert(2, 'too') # index 2번에 too 넣기
print(l1)
# 확장 : extend
a = [1,2,3]
b = [4,5,6]
print( a + b )
print(a)
a = a + b
print(a)
a.extend(b)
print(a)

['Life', 'is', 'too']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [143]:
#요소 삭제
l2 = ['Life', 'is', 'too', 'short']
#       0      1      2       3
#index를 이용해서 삭제 : del
del l2[1]
print(l2) # ['Life', 'too', 'short']
#               0      1       2
del l2[2]
print(l2)
l2 = ['Life', 'is', 'too', 'short']
# 요소를 이용해서 삭제 : remove
l2.remove('is')
print(l2)
l2.remove('too')
print(l2)
# 완전히 삭제 :  clear
l2.clear()
print(l2)
### 삭제한 값을 받아오기 : pop
l2 = ['Life', 'is', 'too', 'short']
result = l2.pop() # 뒤에 있는 값을 끄집어 나온다.
print(l2) # ['Life', 'is', 'too']
print(result) # 'short'
result = l2.pop()  
print(l2) # ['Life', 'is']
print(result) #'too'
### index를 이용해서 삭제한 값을 받아오기 : pop
l2 = ['Life', 'is', 'too', 'short']
#       0       1     2       3
result = l2.pop(1) # 비복원 추출
print(l2) # ['Life', 'too', 'short']
#              0       1       2
print(result)
result = l2.pop(0); print(l2); print(result) # 
# 주사위 : 복원추출

['Life', 'too', 'short']
['Life', 'too']
['Life', 'too', 'short']
['Life', 'short']
[]
['Life', 'is', 'too']
short
['Life', 'is']
too
['Life', 'too', 'short']
is

In [151]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
#오름차순
l.sort()
print(l)
l = [4,2,5,1,3]
#내림차순 # [1, 2, 3, 4, 5] reverse
l.sort(reverse=True)
print(l)
l = ['b','a','c']
l.sort()
print(l)
l = ['다','가','나']
l.sort()
print(l)
l = ['b','a','c', '다','가','나']
l.sort()
print(l)
l = ['다','가','나']
l.sort(reverse=True)
print(l)
#l = ['b','a','c',3,1,2] # 숫자와 문자가 같이 있는 경우에는 정렬 되지 않는다.
#l.sort()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']
['다', '나', '가']
['Life', 'is', 'too', 'short']

In [162]:
str1 = "Life is too short"
idx = str1.find("too")
print(idx)
idx = str1.index("too")
print(idx)
l1 = ['Life', 'is', 'too', 'short']
idx = l1.index("too")
print(idx)
# idx = l1.find("too") # 리스트에는 find()함수가 존재하지 않는다.

8
8
2

In [173]:
# 리터널 : 자연수 : 정수, 실수
#          자연어 : 문자, 문자열, "", '',"""""",''''''
# 리스트 : []
# 튜플 : ()
l = [1, 2, 3, 4, 5] # 리스트
print(l)
t = (1, 2, 3, 4, 5) # 튜플
print(t)
l = [] #빈리스트
t = () #빈튜플
print(t)
print((3 + 5) * 4) # 32 () :최우선 연산자
print((2)) # 최우선 연산자.
t = (3 + 5) # 최우선 연산자
print(t)
t = (2) # 최우선 연산자
print(t) #2
t = (3 + 5,) #요소가 하나인 경우에는 콤마찍어준다.
print(t)
t = (2,)
print(t)
t = (1,2) #요소두개 이상인 경우 소괄호를 사용한다.
print(t)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
()
32
2
8
2
(8,)
(2,)
(1, 2)

In [174]:
l = [] # 빈리스트
t = () #빈튜플
l = [1] # 요소가 하나인 리스트
t = (1,) #요소가 하나인 튜플
l = [1,2,3,4,5] #정수형 리스트
t = (1,2,3,4,5) #정수형 퓨플
t = (10.1 , 5.3, 2.4 ) # 실수형 튜플
t = ("이숭무", "김찬중") #문자열형 튜플
t = (1,2,3,10.1 ,"이숭무", "김찬중") # 혼합형 퓨플
t = (1,2,3,10.1 ,"이숭무", "김찬중", [1,2,3]) # 리스트를  포함한 혼합형 튜플
t = (1,2,3,10.1 ,"이숭무", "김찬중", (1,2,3)) # 튜플  포함한 혼합형 튜플
t = (1,2,3,10.1 ,"이숭무", "김찬중", (1,2,3), [4,5,6])
l = [1,2,3,10.1 ,"이숭무", "김찬중", (1,2,3), [4,5,6]]
t = 1,2,3,4,5,6 # 튜플 : 튜플을 만들 때 소괄호를 사용하지 않아도 튜플이 만들어 짐
print(t)

(1, 2, 3, 4, 5, 6)

In [182]:
str1 = "Life is too short"
#                 1
#       01234567890123456
l1 = ['Life', 'is', 'too', 'short']
#       0       1      2      3
t1 = 'Life', 'is', 'too', 'short'
#       0      1     2       3
print(str1); print(l1); print(t1)
# indexing
print(str1[2])
print(l1[2])
print(t1[2])
# slicing
print(str1[2:])
print(l1[2:])
print(t1[2:])
print(str1[2:2+2])
print(l1[2:2+2])
print(t1[2:2+2])
print(str1[:3])
print(l1[:3])
print(t1[:3])

Life is too short
['Life', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
f
too
too
fe is too short
['too', 'short']
('too', 'short')
fe
['too', 'short']
('too', 'short')
Lif
['Life', 'is', 'too']
('Life', 'is', 'too')

In [198]:
str1 = "Lyfe is too short"
l1 = ['Lyfe', 'is', 'too', 'short']
t1 = 'Lyfe', 'is', 'too', 'short'
print(str1[1])
# str1[1] = 'i'
str1 = str1.replace("Lyfe", "Life") # replace()를 사용하면 문자열을 변경할 수 있다
print(str1)
print(l1[0])
l1[0] = "Life" # 리스트는 요소의 값을 변경 할 수 있다
print(l1)
print(t1[0])
# t1[0] = "Life" # 튜플은 요소의 값을 변경할 수 없다.
print(l1)
del l1[0]
print(l1)
# del t1[0] # 삭제도 되지 않는다. 
# 튜플은 저장된 값이 변경되서는 안되는 경우에 사용
idx = l1.index("too")
print(idx)
idx = t1.index("too")
print(idx)
print(len(l1))
print(len(t1))
l2 = [1,2,3,3,4,5,3]
t2 = (1,2,3,3,4,5,3)
print(l2.count(3))
print(t2.count(3))

y
Life is too short
Lyfe
['Life', 'is', 'too', 'short']
Lyfe
['Life', 'is', 'too', 'short']
['is', 'too', 'short']
1
2
3
4
3
3

In [208]:
### l1 = ['Life', 'is', 'too', 'short']
t1 = 'Life', 'is', 'too', 'short'
print(l1); print(t1)
print(l1[1:3]) # 리스트 : ['is', 'too']
print(t1[1:3]) # 튜플 : ('is', 'too')
print(l1[2:4]) # 리스트 : ['too', 'short']
print(l1[1:3] + l1[2:4]) # 리스트 + 리스트 = 리스트
print(l1);
print(t1[2:4])  # 튜플 ('too', 'short')
print(t1[1:3] + t1[2:4] ) # 튜플 + 튜플 = 튜플
print(t1)
print(t1[1:3] * 3)

['Life', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
['is', 'too']
('is', 'too')
['too', 'short']
['is', 'too', 'too', 'short']
['Life', 'is', 'too', 'short']
('too', 'short')
('is', 'too', 'too', 'short')
('Life', 'is', 'too', 'short')
('is', 'too', 'is', 'too', 'is', 'too')

In [223]:
# 형변환 : int, str, list, tuple
str2 = "hello"
l2 = list(str2)
print(l2)
t2 = tuple(str2)
print(t2)
l3 = list(t2)
print(l3)
t3 = tuple(l3)
print(t3)
str3 = str(t3) #튜플은 문자열로 합쳐지지 않는다. 문자열로 형변환은 가능
print(str3)
str3 = str(l3) # 리스트는 문자열로 합쳐지지 않는다. 문자열로 형변환은 가능
print(str3) 
# 리스트나 튜플을 하나의 문자열로 합치기 위해서는 join()함수를 사용한다.
str3 = "".join(l3)
print(str3)
str3 = "".join(t3)
print(str3)
str3 = " ".join(t3)
print(str3)
l1 = ['Life', 'is', 'too', 'short']
str3 = " ".join(l1)
print(str3)
l1 = ['Life', 'is', 'too', 'short']
str3 = ":".join(l1)
print(str3)
s4 = "hello"
print(",".join(s4))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
hello
hello
h e l l o
Life is too short
Life:is:too:short
h,e,l,l,o

In [229]:
# 리터널 : 문자열 : "",''
#  index
# 리스트 : [] 
# 튜플 : ()
# 딕셔너리 : {키1 : 값1, 키2: 값2,키3 : 값3,...키n : 값n}
l = [] # 빈리스트
t = () # 빈튜플
dic = {} # 빈딕셔너리
dic1 = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
print(dic1)
l1 = ['Life', 'is', 'too', 'short']
#       0      1      2       3
print(l1[0]) # 문자열, 리스트, 튜플은 index를 이용한다.
print(dic1['name']) # 딕셔너리는 키를 이용해서 값을 가지고 온다.
print(dic1['age'])
print(dic1['height'])
dic = {1: '이숭무', 2: 30 , 0 : 173.5} 
#         0          1        2   # 딕셔너리에서는 index를 사용하지 않는다.
print(dic[0]) # 173.5

{'name': '이숭무', 'age': 30, 'height': 170.5}
Life
이숭무
30
170.5
173.5

In [233]:
print("이숭무의 나이는 30살이고 키는 175.5입니다")
name = "이숭무"
age = 30
height = 173.5
print(f"{name}의 나이는 {age}살이고 키는 {height}입니다")
l4 = ["이숭무", 30, 175.3]
print(f"{l4[0]}의 나이는 {l4[1]}살이고 키는 {l4[2]}입니다")
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
print(f"{d['name']}의 나이는 {d['age']}살이고 키는 {d['height']}입니다")

이숭무의 나이는 30살이고 키는 175.5입니다
이숭무의 나이는 30살이고 키는 173.5입니다
이숭무의 나이는 30살이고 키는 175.3입니다
이숭무의 나이는 30살이고 키는 170.5입니다

In [242]:
l = [1,2,3,4]
#    0 1 2 3
print(l)
l[1] = 12 # index를 이용해서 값을 변경
print(l)
print(d)
print(d['name'])
# 키가 있으면 수정이 되고
d['name'] = '김찬중' # 키를 이용해서 값을 변경할 수 있다.
print(d) 
# index가 없으면 오류 발생
# l[4] = 30 list assignment index out of range
# 키가 없으면 추가된다.
d['addr'] = '성남'
print(d)
# 중복키를 허용하지 않다.
d1 = {1:'이', 1:'숭'}
print(d1)
d1 = {1:'이'}
d1[1] = '숭'
print(d1)

[1, 2, 3, 4]
[1, 12, 3, 4]
{'name': '김찬중', 'age': 30, 'height': 170.5, 'addr': '성남'}
김찬중
{'name': '김찬중', 'age': 30, 'height': 170.5, 'addr': '성남'}
{'name': '김찬중', 'age': 30, 'height': 170.5, 'addr': '성남'}
{1: '숭'}
{1: '숭'}

In [248]:
# 딕셔너리 함수 
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
l = [1,2,3,4]
#    0 1 2 3
# 요소 삭제
del l[0] # indexing
print(l)
del d['name']
print(d)
del l[0:2] # slicing
print(l)
#모두 삭제
del l [:]
print(l)
l.clear()
print(l)
d.clear()
print(d)

[2, 3, 4]
{'age': 30, 'height': 170.5}
[4]
[]
[]
{}

In [256]:
# 딕셔너리에 있는 키를 가져오기
dic1 = {'name': '이숭무', 'age': 30, 'height': 170.5}
print(dic1.keys())
# 딕셔너리에 있는 값를 가져오기
print(dic1.values())
# 키와 값을 묶어서 가져오기
print(dic1.items())
l5 =  list(dic1.keys())
print(l5)
l6 = list(dic1.values())
print(l6)

dict_keys(['name', 'age', 'height'])
dict_values(['이숭무', 30, 170.5])
dict_items([('name', '이숭무'), ('age', 30), ('height', 170.5)])
['name', 'age', 'height']
['이숭무', 30, 170.5]

In [271]:
dic1 = {'name': '이숭무', 'age': 30, 'height': 170.5}
print(dic1['name'])
print(dic1.get('name'))
#print(dic1['addr']) # 키가 없으면 오류 발생
print(dic1.get('addr')) # None
print(dic1.get('addr' , '서울'))
dic1 = {'classic':500, 'pop' : 700 , 'jazz' : 900}
dic2 = {'classic':500, 'pop' : 700 }
print(dic1['classic']) # 정수
print(dic2['classic']) # 정수
print(dic1['classic'] + dic2['classic'])  # 정수 + 정수 = 정수
print(dic1['pop'] + dic2['pop'])
#print(dic1['jazz'] + dic2['jazz'])
print(dic1.get('classic') + dic2.get('classic'))
print(dic1.get('pop') + dic2.get('pop'))
# print(dic1.get('jazz') + dic2.get('jazz')) # 오류
print(dic1.get('jazz') + dic2.get('jazz',100)) # 정수 + 0  = 정수

이숭무
이숭무
None
서울
500
500
1000
1400
1000
1400
1000

In [275]:
# 정수, 실수 문자 리스트 튜플 
# 딕셔너리 : {}, {키 :값,...}
# 집합 자료형 : 합집합, 교집합, 차집합
ss = {1,2,3,4,5} # 요소가 적어 하나이상 있어야 집합이다.
ss = {1,1,2,2,3,3,4} # 중복데이터를 허용하지 않는다.
print(ss)
t1 = (1,2,3,4)
ss = set(t1) #튜플을 집합자료형으로 변환
print(ss)
l1 = [1,2,3,4]
ss = set(l1) # 리스트를 집합자료형으로 변환
print(ss)
str1 = "hello" # 중복을 허용하지 않고 순서가 없다.
ss = set(str1) # 문자열을 집합자료형으로 변환
print(ss)
# int(),str(), list(), tuple(), set(), float()

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{'e', 'o', 'l', 'h'}

In [280]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# 교집합
print(s1 & s2)
print(s1.intersection(s2))
#합집합
print(s1 | s2 )
print(s1.union(s2))
# 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{5, 6}
{1, 2}

In [289]:
# 하나의 요소 추가
# add
s1 = {1, 2, 3, 4}
s1.add(7)
print(s1)
s1.add(3)
print(s1)
s1.add('a')
print(s1)
# s1.add(10,11,12) # 한번에 한개씩
# 여러개의 데이터를 한번에
# update
s1.update((10,11,12))
print(s1)
s1.update([20,21,22])
print(s1)
# 삭제
s1.remove('a') # 한번에 여러개는 지울 수 없다.
print(s1)

{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 'a'}
{1, 2, 3, 4, 7, 'a', 10, 11, 12}
{1, 2, 3, 4, 7, 'a', 10, 11, 12, 20, 21, 22}
{1, 2, 3, 4, 7, 10, 11, 12, 20, 21, 22}

In [292]:
# 기본자료형 : 정수, 실수, 문자, 부울 :  참/거짓 
# 리스트, 튜플, ,딕셔너리, 집합 : 파이썬 자료형
i = 10
i = 100
i = 2000
str1 = "이숭무"
str1 = "apple"
bl = True
print(bl)
bl = False
print(bl)
# a = true  name 'true' is not defined , 변수로 인식
a = "ture" #  문자
a = "True" # 문자

True
False

In [296]:
# 부울 타입을 사용하는 때
# 논리연산
print(True and True)
print(True or False)
# 부울타입을 연산하기 위해서는 연산결과가 부울타입이어야 한다/
# 관계연산(비교연산)
print(10 > 9) # 관계연산의 결과는 부울타입이다.
# 논리연산하기 위해서 부울타입이어야 한다. 비교연산자가 부울타입의 결과를 가져오기 때문에
# 논리연산을 하기 위해서는 비교연산과 같이 사용한다.
mat = 40
eng = 80
# 합격하기 위해서는 모든과목이 40점이상이고 평균이 60이상이어야 한다.
result = mat >= 40 and eng >= 40 and (eng+mat)/ 2 >= 60
print(result)
if result:
    print("합격")
else:
    print("불합격")
if mat >= 40 and eng >= 40 and (eng+mat)/ 2 >= 60: # 조건식
    print("합격")
else:
    print("불합격")

True
True
True
True
합격

In [307]:
#변환함수: int(), float(),str(),list(),tuple(),set(),bool():참/거짓
print(bool('이숭무'))
print(bool(''))
print(bool(1))
print(bool(0))
print(bool(-1))
print(bool([]))
print(bool([1,2,3]))
print(bool(()))
print(bool((1,2,3)))
print(bool({}))
print(bool({1:1}))
print(bool(None))

True
False
True
False
True
False
True
False
True
False
True
False

In [316]:
# 변수가 가지고 있는 자료형을 확인
str1 = 'hello' # <class 'str'>
i = 10 # <class 'int'>
f = 10.5 # <class 'float'>
l = [1,2,3,4] # <class 'list'>
t = (1,2,3,4) # <class 'tuple'>
dic = {1:'이'} # <class 'dict'>
s = {1,2,3,4} # <class 'set'>
b = True # <class 'bool'>
print(type(i))
print(type(str1))
print(type(f))
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [322]:
#변수를 만드는 여러 가지 방법
a = 10
l = [1,2,3,4]
a ,b ,c = 10, 20, 30
print(a,b,c)
a ,b ,c = (10, 20, 30)
print(a,b,c)
(a ,b ,c) = 10, 20, 30
print(a,b,c)
(a ,b ,c) = (10, 20, 30)
print(a,b,c)
[a ,b ,c] = [10, 20, 30]
print(a,b,c)
[a ,b ,c] = (10, 20, 30)
print(a,b,c)
a ,b ,c = 10, 20, '이숭무'
print(a,b,c)
# a ,b ,c = 10, 20

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 이숭무

In [326]:
# 값 서로 교환하기
a = 10
b = 20
print(a, b)
#a의 값을 b에 주고 b가 가지고 있는 값을 a에게
temp = b
b = a
a = temp
print(a, b)

a , b = b , a
print(a, b)

10 20
20 10
10 20

In [331]:
i = 10
j = i
print(i , j)

print()

l = [1,2,3]
l1 = l # X
print(l)
print(l1)
l1[1]= 20
print(l)
print(l1)

l1 = l[:] # 리스트를 대입할 경우에는 slicing을 해야 한다. 
print(l1)
print(l)
l1[1] = 2
print(l1)
print(l)

10 10

[1, 2, 3]
[1, 2, 3]
[1, 20, 3]
[1, 20, 3]
[1, 20, 3]
[1, 20, 3]
[1, 2, 3]
[1, 20, 3]

In [340]:
# 제어문 : 조건문 : if, 반복문 : while, for
# bool타입을 이용해서 원하는 결과를 가져오기 위한 작업: 비교연산, 논리연산 :조건식
# 제어문을 사용하기 위해서는 참/거짓인 결과있어야 한다.
# ":"다음행은 들여쓰기 해야한다. 
# 들여쓰기를 하는 방법으로는 공백문자를 사용하거나 tab키를 이용한다.
# 하지만 두가지를 같이 사용할 수 없다. 주로 tab키를 많이 사용한다.
# 조건식은 부울타입의 결과가 와야 한다.
if True:
    print("참")
if False:
    pass
else:
    print("거짓")
'''
if  조건식: 
    명령어1
    명령어2
    ...
    명령어n
명령어 #  if문 밖에 있는 명령어 이므로  if문과 상관없이 실행이 된다.
'''
if False:
    print("거짓")
print("끝")

참
거짓
끝

In [343]:
money = False
if money:
    print("차를 탁고 가시오")
else:
    print("걸어가시오")

차를 탁고 가시오

In [350]:
#  단일 if
a = 10
if a > 20: # False
    print("a는 20보다 크다")

    print("if문안에 있는 명령어")
print("끝")
if a < 20: #True
    print("a는 20보다 작습니다.")
print("실행 끝")

끝
a는 20보다 작습니다.
실행 끝